<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="gloop-toolchain" value="artifacts/feed" />
    <add key="gloop-tools" value="deps/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="gloop-toolchain">
      <package pattern="Gsharp.NET.Sdk" />
    </packageSource>
    <packageSource key="gloop-tools">
      <package pattern="Gslint" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
